body{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	background: #FF6FFD;
}
header{
	background: #FF4800;
	border-style: solid;
	border-radius: 30px;
	margin: 10px;
}
article{
	background: #00FFF6;
	border-style: solid;
	border-radius: 30px;
}
footer{
	background: #18FF00;
	border-style: solid;
	border-radius: 30px;
	margin: 10px;
}