body{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	background: #FF6FFD;
}
header{
	background: #FF4800;
	border-style: solid;
	border-radius: 30px;
	margin: 10px;
}
article{
	background: #00FFF6;
	border-style: solid;
	border-radius: 30px;
}
img{
	border-style: solid;
	border-radius: 30px;
	margin: 10px;
	transition: 20s;
	box-shadow: 6px 6px 1000px yellow;
}
img:hover{
	transform: rotate(360deg);
}
footer{
	background: #18FF00;
	border-style: solid;
	border-radius: 30px;
	margin: 10px;
}